/*Global*/
html {
  font-size: 16px;
  font-family: sans-serif;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

/* Header section */
header {
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;

}

.menu ul {
  display: flex;
  padding: 0 1rem;
}

.menu li {
  padding: 0 0.5rem;
}

/*main banner section*/
.main-banner-container {
  display: flex;
  background-color: lightgray;
}

.banner-container-image {
  padding: 2rem 1.5rem;
  min-width: 60%;

 }

.banner-container-image img {
  max-width: 100%;


}

.main-banner-container-left {
  max-width: 60%;
}

.main-banner-container-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 30%;
}

.main-banner-container-content h1 {
  display: block;
}

.main-banner-container-content span {
  background-color: gray;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
}

/*news banner section with side stories*/

.news-banner-container {
  display: flex;
}

.news-banner-container-left {
  max-width: 60%;

}

.news-banner-container-left-content {
max-width: 90%;
}

.news-banner-container-right {
  display: flex;
  flex-direction: column;
  max-width: 26.4375rem;
}

.side-story-container {
  display: flex;

  align-items: center;
}

.side-story-container-image {
  padding: 1rem;
  min-width: 35%;
  flex-basis: 50%;
}

.side-story-container-image img {
  max-width: 100%;

}

.side-story-container-image-bottom {
  padding: 1rem;
  min-width: 35%;
  flex-basis: 95%;
}

.side-story-container-bottom {
  background-color: gray;
  display: flex;
  align-items: center;

}

.side-story-container-image-bottom img {
  max-width: 100%;



}

/* Courses section*/

.learning-parent-container {
  background-color: lightgray;
  width: 100%;

}

.learning-parent-container h1 {
  padding: 2rem 0;
  text-align: center;
}

.learning-container-grid {
  display: flex;
  flex-direction: row;
  max-width: 95%;
  flex-wrap: wrap;
  margin: 0 auto;

}

.learning-container {
  padding: 1rem;
  max-width: 30%;

}

.learning-container img {
    max-width: 100%;

}

.learning-container-content {
  background-color: white;
  padding: 1rem 1rem 1.5rem 1rem;

}

/*lower section - Thesis*/

.thesis-title {
  padding: 2rem 0;
  text-align: center;
}

.thesis-container {

  display: flex;
}

.thesis-left {
  max-width: 60%;

}

.thesis-left video {
  max-width: 100%;
  padding: 0 1rem 1.5rem 1.5rem;
}

.thesis-right {

}

.thesis-right-block img {
    max-width: 100%;
}

.thesis-right-block {
  display: flex;
  align-items: center;
}

.thesis-right-block img {
  padding: 1rem;
}
footer {

}

/* test*/
